body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #7868fc;
  border-radius: 20px;
}

h1 {
  color: #845ec2;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 20px;
  font-weight: 1px;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-visual img {
  width: 300px;
  margin: 0 auto;
}

.float-left strong {
  color: #845ec2;
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
}
.float-left .units {
  position: relative;
  font-size: 20px;
}
