body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #7868fc;
  border-radius: 20px;
}

h1 {
  color: #845ec2;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 20px;
  font-weight: 1px;
}
._blank {
  text-align: center;
}
