body {
  font-family: Arial, Helvetica, sans-serif;
  
}

.btnSearch,
.btnLocation {
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cacaca;
}

.btnSearch {
  background-color: #9537fc;
  border: 1px solid #9537fc;
}

.btnSearch:hover {
  background-color: #ffffff;
  color: #9537fc;
  border: 1px solid #9537fc;
}

.btnLocation {
  background-color: #24acd6;
  border: 1px solid #24acd6;
}

.btnLocation:hover {
  background-color: #ffffff;
  color: #24acd6;
  border: 1px solid #24acd6;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #7868fc;
  border-radius: 20px;
 background-image: radial-gradient( circle 344px at 1.4% 0%,  rgba(242,185,252,1) 19.3%, rgba(250,254,190,1) 80.7% );
}

h1 {
  color: #845ec2;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
  padding-top: 10px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 20px;
  font-weight: 1px;
}
.weather-wrapper {
  max-width: 600;
  margin: 30px auto;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.float-left strong {
  color: black;
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
}
.float-left .units {
  position: relative;
  font-size: 20px;
  color: #7868fc;
}

.actual-time {
  text-align: right;
  margin: 0 50px 0 0;
}

.float-right {
  text-align: center;
  margin: 0 auto;
}
.line-style {
  border: 1px solid #845ec2;
  opacity:1:
}

